@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; 
} 


/*
 * Base structure
 */

body {
  /* background-color: #E8C4C4; */
    background-image: url('image/bg7.png');
    text-shadow: 0 .05rem .2rem #E8C4C4;
    box-shadow: inset 0 10 20rem rgba(44, 8, 8, 0.5); 
}

.cover-container {
    max-width: 60em;
}
/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: black;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: black;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: black;
    border-bottom-color: #333;
}
#iconHeader{
    font-size: 30px;
}
h1, h2 {
    font-family: 'EB Garamond', serif;
    font-size: 4rem !important;
    font-weight: 500;
}
p{
  color:#41644A;
}
.buttons{
    color: black;
}
.icons a {
    color: #A61F69;
}
.icons i {
    color: #A61F69;
}
#contact{
  background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
border: 1px solid rgba(255, 255, 255, 0.06);
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
  white-space: nowrap;
  text-align: center;
  margin-right: 300px;

}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #E8C4C4;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}

.ml1 .line2 {
  bottom: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .flip-box {
    width: 90px;
    height: 100px;
    position: relative;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #E8C4C4;
    color: white;
    transform: rotateY(180deg);
  }
  
  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
  
  .flip-box:hover .button {
    opacity: 1;
  }
  
  .button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }



/* media query */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }

  .ml1 .line1 {
    top: 0;
  }

  .ml1 .line2 {
    bottom: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .flip-box {
    width: 90px;
    height: 100px;
    position: relative;
    perspective: 1000px;
  }

  .flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-box-front {
    background-color: #bbb;
    color: black;
  }

  .flip-box-back {
    background-color: #4A403A;
    color: white;
    transform: rotateY(180deg);
  }

  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  .flip-box:hover .button {
    opacity: 1;
  }

  .button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}