@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

/*
 * Base structure
 */

body {
  background-image: url('image/bg_original1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 0 .05rem .2rem #E8C4C4;
  box-shadow: inset 0 10 20rem rgba(44, 8, 8, 0.5);
}

.cover-container {
  max-width: 60em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: black;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: #333;
}

#iconHeader {
  font-size: 30px;
}

#landingpage, #skills,#contact-section, #projects-section {
    height: 500px;
    width: 100%;
  margin-top: 50px;
  background: rgba(204, 195, 195, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  -webkit-box-shadow: -8px 8px 198px -29px rgba(0, 0, 0, 1);
  -moz-box-shadow: -8px 8px 198px -29px rgba(0, 0, 0, 1);
  box-shadow: -8px 8px 198px -29px rgba(0, 0, 0, 1);
}


section {
  margin-left: 400px;
}


#animate {
  gap: 60px;
  animation-name: circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

#resume,
#projects,
#contact {
  font-family: 'Kalam', cursive;
}

#resume:hover,
#projects:hover,
#contact:hover {
  font-size: 20px;
  color: #183A1D;
}

#title {
  margin-top: 40px;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 4rem !important;
    font-weight: 500;
    color: #B46060;
    outline-color: #333;
}
h2{
    font-family: 'Lobster', cursive;
    font-size: 4rem !important;
    color: #B46060;
}
h3{
    font-family: 'Caveat', cursive;
}
.aboutMe{
    font-family: 'Caveat', cursive;
    font-size: 23px !important;
    text-indent: 50px;
    color: #183A1D;
}
img{
    width: 60px;
    height: 50px;
}

.icons{
    font-size: 40px;
}

.icons i:hover {
    font-size: 80px;
    color: #7DB9B6;
}
.flash {
    animation: flash 0.6s  infinite;
}
@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* //from here contacts and projects */
h3, h2 {
    font-family: 'EB Garamond', serif;
    font-size: 4rem !important;
    font-weight: 500;
}
p{
  color:#41644A;
}
.buttons{
    color: black;
}
.icons1 {
    margin-top: 30px;
}
.icons1 a {
    color: #A61F69;
}
.icons1 i {
    color: #A61F69;
}

.ml1 {
  font-weight: 900;
  font-size: 3em;
  white-space: nowrap;
  text-align: center;
  margin-right: 300px;

}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #E8C4C4;
  transform-origin: 0 0;
}

.ml1 .line1 {
  top: 0;
}

.ml1 .line2 {
  bottom: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
  }
  
  .flip-box {
    width: 120px;
    height: 140px;
    position: relative;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #E8C4C4;
    color: white;
    transform: rotateY(180deg);
  }
  
  .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
  
  .flip-box:hover .button {
    opacity: 1;
  }
  
  .button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }










/* Media queries
@media (max-width: 1200px) {
    section 
    {
    margin-left: 200px;
    }
}

@media (max-width: 768px) {
    section 
    {
    margin-left: 0;
    }
#main {
    margin-top: 50px;
}

#skills {
    margin-top: 50px;
}

h2, h4 {
    font-size: 4rem;
}

.icons {
    font-size: 40px;
}
}

@media (max-width: 576px) {
    #main {
        margin-top: 20px;
}

#skills {
    margin-top: 20px;
}

h2, h4 {
    font-size: 1.5rem;
}

.icons {
    font-size: 30px;
}
} */
